*{
    margin: 0 auto;
    padding: 0px;
    font-family: "Lato", sans-serif;
}
.DivGlobal {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
}

.DivTopo {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
}
.DivLogo {
    width: 100%;
    background-color: #A6E4FB;
    height: auto;
    display: inline-block;
    position: relative;
    text-align: center;
}

.DivMenu {
    width: 100%;
    background-color: rgb(141, 194, 243);
    height: auto;
    display: inline-block;
    position: relative;
}

.DivCorpo {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    text-align: center;
}

.DivCorpo h1 {
    margin-top: 20px;
    text-align: center;
    color: rgb(65, 69, 73);
}

.DivCorpo p {
    text-align: justify;
    width: 90%;
    opacity: 0.8;
    line-height: 25px;
    margin-top: 10px;
}

.DivCorpo li {
    text-align: center;
    width: 90%;
    opacity: 0.8;
    line-height: 20px;
    margin-top: 10px;
    list-style: none;
}

.DivRodape {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    background-color: rgb(141, 194, 243);
}

.ImagemLogo {
    width: 220px;
    height: 190px;
    display: inline-block;
    position: relative;
    background-image: url('./imagens/logorainbow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.DivMenu ul {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: center;
}

.DivMenu li {
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    list-style: none;
    text-align: center;  
}

.DivMenu a {
    padding: 17px;
    background-color: rgb(141, 194, 243);
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: all 0.5s ease-in;
}

.DivMenu a:hover {
    color: rgb(141, 194, 243);
    background-color: white;
    transition: all 0.5s ease-in;
}

.ImagemUm {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
    width: 100%;
    background-image: url('./imagens/colegio.jpeg');
    background-color: #FFFFFF;
}

.DivRodape a:hover {
    color: #A6E4FB;
    transition: all 0.5s;
}

.DivRodape ul {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    text-align: center;
}

.DivRodape li {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
}

.DivRodape a {
    padding: 17px;
    height: auto;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
}

/* Inicio sobre */
.ImagemSobre {
    width: 50%;
    min-height: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
    position: relative;
    box-shadow: 0px 0px 10px #000000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ImagemSobre:hover {
    transform: scale(1.1);
    transition: 0.25s all;
}

#ImagemSobreUm {
    background-image: url('./imagens/sobreum.png');
}

#ImagemSobreDois {
    background-image: url('./imagens/sobredois.png');
}

#ImagemSobreTres {
    background-image: url('./imagens/sobretres.png');
}
/* Fim sobre*/

/* Inicio contatos */
.FormMensagem {
    width: 50%;
    height: auto;
    display: inline-block;
    position: relative;
    border-bottom: 2px solid rgb (34, 139, 34, 1);
}

.FormMensagem li {
    list-style: none;
    width: 100%;
    height: auto;
    text-align: left;
}

.InputFormMensagem {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 1px solid  rgb (34, 139, 34, 1);
    padding: 10px;
    margin-bottom: 15px;
}

#TextareaFormMensagem {
    height: 200px;
    padding-top: 10px;
    line-height: 23px;
}

.BotaoEnviaFormMensagem {
    height: 23px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid rgb(141, 194, 243);
    cursor: pointer;
    margin-bottom: 15px;
}

/* Fim contatos */